#=====================CAUTION=======================
# DO NOT DELETE THIS FILE SINCE IT IS PART OF NROBO
# FRAMEWORK AND IT MAY CHANGE IN THE FUTURE UPGRADES
# OF NROBO FRAMEWORK. THUS, TO BE ABLE TO SAFELY UPGRADE
# TO LATEST NROBO VERSION, PLEASE DO NOT DELETE THIS
# FILE OR ALTER ITS LOCATION!!!
#===================================================
#
#
# @author: Panchdev Chauhan
# @email: erpanchdev@gmail.com
#####################################################

# requirements for nrobo framework

rich==13.7.0
pytest==8.0.0
PyYAML==6.0.1
selenium==4.17.2
webdriver-manager==4.0.1
undetected-chromedriver==3.5.5
setuptools==69.1.1
selenium-page-factory==2.6
pytest-html==4.1.1
pytest-xdist==3.5.0
psutil==5.9.8
pytest-rerunfailures==13.0
allure-pytest==2.13.2
pycurl==7.45.3
pypinfo==21.0.0
pytest-emoji==0.2.0
npm==0.1.1
Appium-Python-Client==3.2.1
